[tool.poetry]
name = "slackblocks"
version = "1.2.3"
description = "Python wrapper for the Slack Blocks API"
authors = [
    "Nicholas Lambourne <dev@ndl.im>",
]
maintainers = [
    "Nicholas Lambourne <dev@ndl.im>",
]
homepage = "https://github.com/nicklambourne/slackblocks"
repository = "https://github.com/nicklambourne/slackblocks"
license = "MIT"
readme = "README.md"
keywords = [
    "slackblocks", 
    "slack", 
    "messaging", 
    "message generation", 
    "slack blocks", 
    "blocks",
]
classifiers=[
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Programming Language :: Python :: 3.12",
    "Programming Language :: Python :: 3.13",
    "Programming Language :: Python :: 3.14",
    "License :: OSI Approved :: BSD License",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
    "Typing :: Typed",
    "Topic :: Communications :: Chat"
]
exclude = ["test/**", "docs/**"]

[tool.poetry.dependencies]
python = ">=3.8.1"

[tool.poetry.group.dev.dependencies]
aiohttp = "^3.10.11"
black = "^24.8.0"
flake8 = "^6.1.0"
flake8-pyproject = "^1.2.3"
mypy = "^1.14.1"
pytest = "^8.3.4"
slack-sdk = "^3.33.4"
twine = "^6.0.1"
wheel = "^0.45.1"

[tool.poetry.group.docs.dependencies]
mike = {version = "^2.1.3", python = ">=3.9"}
mkdocs = {version = "^1.6.1", python = ">=3.9"}
mkdocs-material = {version = "^9.5.49", python = ">=3.9"}
mkdocstrings = {extras = ["python"], version = "^0.27.0", python = ">=3.9"}
mkdocstrings-python = {version = "^1.13.0", python = ">=3.9"}

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.flake8]
exclude = [".venv", "./build", "./dist", ".eggs", ".git"]
max-line-length = 100
extend-ignore = """
    BLK100
"""
per-file-ignores = [
    "slackblocks/__init__.py:F401",
    "slackblocks/rich_text/__init__.py:F401",
    "slackblocks/rich_text/objects.py:W605",
]

[tool.pytest.ini_options]
filterwarnings = [
    #transform warnings into errors so they are not possible to ignore
    "error",
    #except when defined explicitly as per example below. See https://docs.pytest.org/en/stable/how-to/capture-warnings.html#controlling-warnings
    #"ignore::UserWarning",
]
