<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php" cacheDirectory=".phpunit.cache" failOnWarning="true" failOnDeprecation="true" failOnRisky="true">
    <testsuites><testsuite name="Real sending integrations"><directory>tests</directory></testsuite></testsuites>
</phpunit>
